.App {
  margin-top: 50px;
}

.search {
  text-align: center;
  background: lightblue;
  padding: 80px 50px;
  border-radius: 20px;
}

.search h2 {
  margin-top: 0;
  font-size: 26px;
}

.loading {
  text-align: center;
}

.loading img {
  animation: 1s loading-logo linear infinite;
}

.spacing-delete-me {
  margin-bottom: 150px;
}

@keyframes loading-logo {
  100% {
    transform: rotate(-360deg); 
  }
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.container--search .item {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.container--search p {
  margin-top: 0;
}
.container--first-screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container--first-screen .errorMessage {
  color: red;
}

.box {
  background-color: lightgray;
  width: 100px;
  height: 100px;
  display: inline-block;
  transition: all .2s ease-out;
}

.item:hover {
  cursor: pointer;
}

.item:hover .box {
  transform: scale(1.2);
}

.container--info .big-box {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: lightgray;
}

.container--info .button-area {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.container--info .button-area input {
  background-color: #008CBA;
  color: #FFF;
  border-radius: 12px;
  outline: none;
  border: 0px;
  font-size: 19px;
  padding: 15px 40px;
  cursor: pointer;
  transition: .4s all;
}

.container--info .button-area input:hover {
  background-color: #057194;
}

dl {
  width: 400px;
  margin: auto;
}

dd, dt {
  display: inline-block;
}

dt {
  margin-left: 30px;
}

.hide-me-d00d {
  opacity: 0.1;
}