.App {
  margin-top: 50px;
}

.search {
  text-align: center;
}

.loading {
  text-align: center;
}

.loading img {
  animation: 1s loading-logo linear infinite;
}

.spacing-delete-me {
  margin-bottom: 150px;
}

@keyframes loading-logo {
  100% {
    transform: rotate(-360deg); 
  }
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.box {
  background-color: lightgray;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 10px;
}

.container--info .box {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
}

dl {
  width: 400px;
  margin: auto;
}

dd, dt {
  display: inline-block;
}

dt {
  margin-left: 30px;
}